@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>@ViewData["Title"]</h1>

            <a href="/" class="btn btn-secondary text-white">Home Page</a>
        </div>
    </div>
</div>