@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}



<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
            <p>
                Please check your email to reset your password.
            </p>
            <a href="/" class="btn btn-secondary text-white">Home Page</a>
        </div>
    </div>
</div>