@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}



<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
            <p>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </p>
            <a href="/" class="btn btn-secondary text-white">Home Page</a>
        </div>
    </div>
</div>