@page "/about"

<Head>
</Head>
<div class="container marketing">


    <!-- START THE FEATURETTES -->
    <div class="row featurette mt-5">
        <div class="col-md-7">
            <h2 class="featurette-heading">Our Mission. <span class="text-muted">It’ll blow your mind.</span></h2>
            <p class="lead">Our prices are competitive and fair. There are no surprise bills. Any unexpected or additional expenses must be pre-approved by you. That’s how we would like to be treated, and that is how our clients are treated.</p>
        </div>
        <div class="col-md-5">
            <img src="images/mybackground.jpg" class="img-fluid" />

        </div>
    </div>
    <br />
    <hr class="featurette-divider">
    <br />
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Attention to Details. <span class="text-muted">Oh yeah, it’s that good.</span></h2>
            <p class="lead">It’s our attention to the small stuff, scheduling of timelines and keen project management that makes us stand out from the rest. We are creative, while keeping a close eye on the calendar and your budget.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="images/4k.jpg" class="img-fluid" />

        </div>
    </div>
    <br />
    <hr class="featurette-divider">
    <br />
    <!-- Three columns of text below the carousel -->
    <div class="row text-center">
        <div class="col-lg-4">
            <img src="images/mystorePicture.png" class="img-fluid" />
            <h2>Director</h2>
            <p>Duy Lan Le</p>
            <p class="mb-2"><a class="btn btn-secondary" target="_parent" href="https://duylanle-portfolio.netlify.app/">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">

            <img src="images/me.jpg" class="img-fluid" />

            <h2>CEO</h2>
            <p>Duy Lan Le</p>
            <p class="mb-2"><a class="btn btn-secondary" target="_parent" href="https://duylanle-portfolio.netlify.app/">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="images/mystorePicture.png" class="img-fluid" />

            <h2>Designer</h2>
            <p>Duy Lan Le</p>
            <p class="mb-2"><a class="btn btn-secondary" target="_parent" href="https://duylanle-portfolio.netlify.app/">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <br />
    <hr class="featurette-divider">
    <br />
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">We're fast.</span></h2>
            <p class="lead"> We have a team of certified engineers on staff, so our Platinum clients aren’t waiting around for hours – even days – to get a problem resolved. We know you’re busy and have made a sincere commitment to making sure your problems get fixed FAST. </p>
        </div>
        <div class="col-md-5">

            <img src="images/958x4012.jpg" class="img-fluid" />

        </div>
    </div>
    <br />
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<BlogPostArea></BlogPostArea>


@code {

}
